<div class="mt-2 p-2 bg-secondary text-white rounded">
  <h1>Structural Directive</h1>
  <p>*ngIf, *ngFor...</p>
  <button class="btn btn-primary" [routerLink]="['/structural-dir']">
    Go To Structural
  </button>
</div>
<div class="row pt-3">
  <div class="col-3">
    <div class="p-3 text-center" [ngClass]="div1BgColor">
      <h4>Div-1</h4>
    </div>
  </div>
  <div class="col-3">
    <div
      class="bg-success p-3 text-center"
      [ngClass]="isDiv2Active == true ? 'bg-success' : 'bg-warning'"
    >
      <h4>Div-2</h4>
    </div>
  </div>
  <div class="col-3">
    <div
      class="bg-secondary p-3 text-center"
      [ngClass]="
        num1 == num2 ? 'bg-secondary text-white' : 'bg-danger text-white'
      "
    >
      <h4>Div-3</h4>
    </div>
  </div>
  <div class="col-3">
    <div
      class="bg-primary p-3 text-center"
      [ngClass]="isActive === true ? 'bg-success' : 'bg-danger'"
    >
      <h4>Div-4</h4>
    </div>
  </div>
</div>
<div class="row pt-3">
  <div class="col-3 text-center">
    <button class="btn btn-danger" (click)="addRed()">Add Red</button>
    <button class="btn btn-primary mx-2" (click)="addBlue()">Add Blue</button>
  </div>
  <div class="col-3 text-center">
    <button class="btn btn-success" (click)="toogleDiv2()">Toggle</button>
  </div>
  <div class="col-3">
    <div style="display: flex; align-items: center">
      <input
        type="text"
        [(ngModel)]="num1"
        placeholder="Num-1"
        class="width-50"
      />
      <input
        type="text"
        [(ngModel)]="num2"
        placeholder="Num-2"
        class="width-50"
      />
    </div>
  </div>
  <div class="col-3">
    <div style="display: flex; align-items: center">
      <input type="checkbox" class="width-50" [(ngModel)]="isActive" />
      <select>
        <option value="">Select State</option>
        <option value="India">India</option>
        <option value="USA">USA</option>
        <option value="Shrilanka">Shrilanka</option>
      </select>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-3">
    <ul>
      <li></li>
    </ul>
  </div>
  <div class="col-3">
    <div></div>
  </div>
  <div class="col-3">
    <select></select>
  </div>
  <div class="col-3">
    <select>
      <option></option>
    </select>
  </div>
</div>

<div class="row">
  <div class="col-5">
    <table class="table table-bordered">
      <thead>
        <tr>
          <!-- <th>Sr No</th> -->
          <th>Name</th>
          <th>City</th>
          <th>Status</th>
          <th>Gender</th>
          <th>marks</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let student of studentList">
          <!-- <td>{{ srNo + 1 }}</td> -->
          <td>{{ student.name }}</td>
          <td>{{ student.city }}</td>
          <td  [ngStyle]="{'background-color':  student.isActive ? 'green':'red'}">
            <span> {{ student.isActive ? "Active" : "De-Active" }}</span>
          </td>
          <td>{{ student.gender }}</td>
            <td>
              <div class="progress">
                <div class="progress-bar"[ngStyle]="{'width': student.marks + '%'}">{{student.marks}}</div>
              </div>
            </td>
        </tr>

      </tbody>
    </table>
  </div>
</div>
