
<nav class="navbar navbar-expand-sm bg-light navbar-light">
  <div class="container-fluid">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="/add-Books">Add Books</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/booklist">Book List</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/data-binding">Data-Binding</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/structural-dir">structural-dir</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/attribute-dir">attribute-dir</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/if-else">if</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/loop">for-loop,Switch case</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/pipe">Pipe</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/template-form">tempale-form</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/reactiv-form">Reactive-form</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/get-api">Get-API</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/Post-api">Post-API</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/lifecycle">LifeCycle-Event</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/ng-template">Template</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/ng-containar">Container</a>
      </li>
      <!-- Add other nav items as needed -->
    </ul>
  </div>
</nav>
