    <app-alert [message]="'hello from Post-api'" alertType="Success"></app-alert>
    <app-button [btnClass]="'btn btn-success'" [btnText]="'Submit'"></app-button>
    <app-button [btnClass]="'btn btn-success'" (click)="getData($event)" [btnText]="'event'"></app-button>
    <div class="row pt-2">
    <div class="col-8">
        <div class="card">
        <div class="card-header bg-secondary text-white">Department List</div>
        <div class="card-body">
            <div class="row">
            <div class="col-12">
                <table class="table table-bordered">
                <thead>
                    <tr>
                    <th>Sr No</th>
                    <th>Name</th>
                    <th>Logo</th>
                    <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let cutomer of newCustomer">
                    <td>{{ cutomer.departmentId }}</td>
                    <td>{{ cutomer.departmentName }}</td>
                    <td>{{ cutomer.departmentLogo }}</td>
                    <td colspan="2">
                        <app-button
                        (click)="getEdit(cutomer)"
                        [btnClass]="'btn btn-secondary'"
                        [btnText]="'Edit'"
                        ></app-button>
                        <app-button
                        (click)="getDelete(cutomer.departmentId)"
                        [btnClass]="'btn btn-danger'"
                        [btnText]="'delete'"
                        ></app-button>
                    </td>
                    </tr>
                </tbody>
                </table>
            </div>
            </div>
        </div>
        </div>
    </div>
    <div class="col-4">
        <div class="card">
        <div class="card-header bg-secondary text-white">New Department</div>
        <div class="card-body">
            <div class="row">
            <div class="col-12">
                <label for="">Department Name</label>
                <input
                type="text"
                class="form-control"
                [(ngModel)]="department.departmentName"
                placeholder="Enter Name"
                />
            </div>
            <div class="col-12">
                <label for="">Department Logo</label>
                <input
                type="text"
                class="form-control"
                [(ngModel)]="department.departmentLogo"
                placeholder="Enter Logo Url"
                />
            </div>
            </div>
            <div class="row pt-3">
            <div class="col-6 text-center">
                <button class="btn btn-secondary">Reset</button>
            </div>
            <div class="col-6 text-center">
                <app-button
                (click)="save()"
                [btnClass]="'btn btn-success'"
                [btnText]="'save'"
                ></app-button>

                <div>
                @if(department.departmentId !== 0){
                <app-button
                    (click)="update()"
                    [btnClass]="'btn btn-warning'"
                    [btnText]="'Update'"
                ></app-button>
                }
                </div>
            </div>
            </div>
        </div>
        </div>
    </div>
    </div>
